.bikeslist {
  padding-block: 120px;
}

.bikeslist h2 {
  margin-bottom: 40px;
}

.bikeslist h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.bikeslist h3::before {
  content: "";
  background-color: var(--p-1);
  height: 8px;
  width: 12px;
  display: inline-block;
  margin-right: 8px;
  transition: width 0.3s ease-in-out;
}

.bikeslist a:hover h3::before {
  width: 24px;
}

.bikeslist ul {
  display: flex;
  gap: 40px;

  padding: 0 20px 20px 20px;
  max-width: 1400px;
  margin: 0 auto;

  overflow-x: auto;
}

.bikeslist ul a {
  display: block;
}

.bikeslist ul img {
  margin-bottom: 16px;
}

.bikeslist ul li {
  min-width: 280px;
}

.bikeslist ul li span {
  color: var(--c8);
  padding-left: 20px;
}

@media (max-width: 800px) {
  .bikeslist {
    padding-block: 60px;
  }

  .bikeslist ul {
    gap: 20px;
  }
}
