/* INTRODUCTION */

.introduction {
  background-color: var(--c12);
  color: var(--w);
  box-shadow: inset 0 -120px var(--w);
}

.introduction__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
  max-width: 1200px;
  padding-inline: 20px;
  margin: 0 auto;
}

.introduction__img img {
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.introduction__text {
  align-self: end;
  padding-bottom: 240px;
}

.introduction__text h1 {
  margin-bottom: 32px;
}

.introduction__text p {
  margin-bottom: 20px;
  color: var(--c5);
}

@media (max-width: 900px) {
  .introduction {
    padding-top: 40px;
    background-color: var(--c11);
    box-shadow: inset 0 -60px var(--w);
  }

  .introduction__container {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .introduction__text {
    padding-bottom: 0;
  }

  .introduction__text h1 {
    margin-bottom: 16px;
  }

  .introduction__img img {
    height: 300px;
    width: 100%;
  }
}
