:root {
  --w: #fff;
  --c1: #f7f7f7;
  --c2: #ededed;
  --c3: #dedede;
  --c4: #ccc;
  --c5: #b2b2b2;
  --c6: #9c9c9c;
  --c7: #717171;
  --c8: #595959;
  --c9: #404040;
  --c10: #2e2e2e;
  --c11: #111;
  --c12: #000;

  --p-1: #fb0;
  --p-2: #e4a30b;
  --p-3: #a66f00;
  --p-4: #640;
  --p-5: #320;
}

.dot-color {
  color: var(--p-1);
  font-family: "Roboto", sans-serif;
}
